@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.slick-slide > div {
  margin: 0 10px;
}

/* banner design */
.banner-main-con {
  /* background: black; */
  /* border: 2px solid #9a1aca; */
  /* background: #9a1aca; */
  /* margin-top: 20px; */
}

.banner-main-con .carousel-main-con {
  position: relative;
  height: 300px;
  /* border: 2px solid red; */
  margin-top: 100px;
  /* width: 100vw; */
}
@media only screen and (min-width: 768px) {
  .banner-main-con .carousel-main-con {
    height: 500px;
    margin-top: 105px;
  }
}
/* @media only screen and (min-width: 1200px) {
  .banner-main-con .carousel-main-con {
    height: 400px;
  }
} */
.banner-main-con .carousel-main-con .carousel-con .carousel-items-con {
  height: 300px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@media only screen and (min-width: 768px) {
  .banner-main-con .carousel-main-con .carousel-con .carousel-items-con {
    height: 500px;
  }
}
@media only screen and (min-width: 1200px) {
  .banner-main-con .carousel-main-con .carousel-con .carousel-items-con {
    height: 750px;
  }
}
.banner-main-con .carousel-main-con .carousel-con .carousel-items-con .img {
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 768px) {
  .banner-main-con .carousel-main-con .carousel-con {
    height: 300px;
  }
}
@media only screen and (min-width: 1200px) {
  .banner-main-con .carousel-main-con .carousel-con {
    height: 500px;
  }

  .banner-main-con .carousel-main-con .carousel-con .carousel-items-con .img {
    border-top-left-radius: 100px;
    overflow: hidden;
  }
}
.banner-main-con .carousel-main-con .carousel-con .banner-text-main-con {
  position: absolute;
}

.banner-text-main-con {
  border: 2px solid rgba(0, 128, 0, 0);
}
.text-con {
  /* border: 2px solid red; */
  position: absolute;
  top: 135px !important;
  padding-left: 5px;
  width: 100vw;
}
@media only screen and (min-width: 768px) {
  .text-con {
    top: 260px !important;
    width: 600px;
    padding-left: 10px;
  }
}
@media only screen and (min-width: 1200px) {
  .text-con {
    top: 400px !important;
    width: 900px;
  }
}
.text-con h1 {
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}
.text-con h1 span {
  font-size: 45px;
  font-family: TiemposHeadline-Semibold, serif;
}
@media only screen and (min-width: 768px) {
  .text-con h1 {
    font-size: 25px;
  }
  .text-con h1 span {
    font-size: 70px;
  }
}
@media only screen and (min-width: 1200px) {
  .text-con h1 {
    font-size: 25px;
  }
  .text-con h1 span {
    font-size: 110px;
  }
}
.banner-bottom-img-con {
  width: 100%;
  position: relative;
  margin-top: -35px;
  overflow: hidden;
  /* border: 5px solid yellow; */
}
.banner-bottom-img-con .contact-details {
  position: absolute;
  bottom: 10px;
  /* border: 2px solid red; */
  width: 100%;
  height: 50px;
}
.banner-bottom-img-con .contact-details .contact-details-sub-con {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
}
.banner-bottom-img-con .contact-details .contact-details-sub-con p {
  /* border: 2px solid green; */
  font-size: 10px;
  width: 30%;
  word-break: break-all;
  display: flex;
  flex-direction: column;
  color: white;
}
@media only screen and (min-width: 768px) {
  .banner-bottom-img-con .contact-details {
    bottom: 20px;
  }
  .banner-bottom-img-con .contact-details .contact-details-sub-con p {
    font-size: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .banner-bottom-img-con .contact-details .contact-details-sub-con {
    justify-content: space-around;
  }
  .banner-bottom-img-con .contact-details {
    bottom: 50px;
  }
  .banner-bottom-img-con .contact-details .contact-details-sub-con p {
    font-size: 15px;
  }
}
.banner-bottom-img-con img {
  width: 100%;
  height: 100px;
  bottom: 0;
}
@media only screen and (min-width: 1200px) {
  .banner-bottom-img-con {
    margin-top: 160px;
    /* margin-top: auto; */
  }
  .banner-bottom-img-con img {
    height: 200px;
    /* border: 2px solid red; */
  }
  .banner-bottom-img-con .contact-details .contact-details-sub-con p {
    /* border: 2px solid green; */
    font-size: 20px;
    width: 30%;
  }
}

/* ABOUT US */
.about-us-img {
  overflow: hidden;
}
.about-us-img img {
  object-fit: contain;
}

@media only screen and (min-width: 1200px) {
  .about-us-img {
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;

    height: 500px;
  }
  .about-us-img img {
    object-fit: contain;
  }
}
