@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.slick-slide > div {
  margin: 0 10px;
}

/* banner design */
.banner-main-con {
  /* background: black; */
  border: 2px solid #9a1aca;
  background: #9a1aca;
  /* margin-top: 20px; */
}
.banner-main-con .carousel-main-con {
  position: relative;
  height: 300px;
  /* border: 2px solid red; */
  margin-top: 100px;
  /* width: 100vw; */
}
@media only screen and (min-width: 768px) {
  .banner-main-con .carousel-main-con {
    height: 500px;
    margin-top: 105px;
  }
}
@media only screen and (min-width: 1200px) {
  .banner-main-con .carousel-main-con {
    height: 800px;
  }
}
.banner-main-con .carousel-main-con .carousel-con .carousel-items-con {
  height: 300px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100vw; */
  /* border: 2px solid red; */
}
@media only screen and (min-width: 768px) {
  .banner-main-con .carousel-main-con .carousel-con .carousel-items-con {
    height: 500px;
  }
}
@media only screen and (min-width: 1200px) {
  .banner-main-con .carousel-main-con .carousel-con .carousel-items-con {
    height: 800px;
  }
}
.banner-main-con .carousel-main-con .carousel-con .carousel-items-con .img {
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 768px) {
  .banner-main-con .carousel-main-con .carousel-con {
    height: 300px;
  }
}
@media only screen and (min-width: 1200px) {
  .banner-main-con .carousel-main-con .carousel-con {
    height: 500px;
  }
}
.banner-main-con .carousel-main-con .carousel-con .banner-text-main-con {
  position: absolute;
}
@media only screen and (min-width: 768px) {
  .banner-main-con .carousel-main-con .carousel-con .banner-text-main-con {
    /* top: 100px; */
  }
}
.banner-text-main-con {
  border: 2px solid green;
}
.text-con {
  /* border: 2px solid red; */
  position: absolute;
  top: 335px !important;
  z-index: 500;
  width: 100vw;
}
@media only screen and (min-width: 768px) {
  .text-con {
    top: 530px !important;
  }
}
.text-con h1 {
  color: white;
  font-size: 20px;
}
.text-con h1 span {
  font-size: 30px;
  font-family: TiemposHeadline-Semibold, serif;
}
@media only screen and (min-width: 768px) {
  .text-con h1 {
    color: white;
    font-size: 25px;
  }
  .text-con h1 span {
    font-size: 40px;
  }
}
.banner-bottom-img-con {
  width: 100%;
  position: relative;
  margin-top: -35px;
  overflow: hidden;
}
.banner-bottom-img-con h1 {
  position: absolute;
  color: white;
  top: 50px;
}
.banner-bottom-img-con img {
  width: 100%;
  height: 150px;
}
@media only screen and (min-width: 1000px) {
  .banner-bottom-img-con {
    margin-top: -50px;
  }
  .banner-bottom-img-con img {
    height: 200px;
    /* border: 2px solid red; */
  }
}
